@model List<StateVM>

<div class="container-fluid ExploreTour py-2">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Destinations</h5>
            <h1 class="mb-0">Popular Destinations</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-flex justify-content-center mb-5">
                @for (int i = 0; i < 5; i++)
                {
                    <li class="nav-item ">
                        <a class="d-flex mx-3 p-3 border border-primary bg-light rounded-pill" asp-controller="products" asp-action="getbyregion" asp-route-regionId =@Model[i].Id>
                            @Model[i].Name
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                <div id="NationalTab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @for(int i = 0; i < 6; i++)
                        {
                            <div class="col-md-6 col-lg-4">
                                <div class="national-item">
                                    <img style="height:250px" src=@Model[i].Images[0] class="img-fluid w-100 rounded" alt="Image">
                                    <div class="national-content">
                                        <div class="national-info">
                                            <h5 class="text-white text-uppercase mb-2">@Model[i].Name</h5>
                                            <a asp-controller="Products" asp-action="GetByRegion" asp-route-regionId=@Model[i].Id class="btn-hover text-white">View All Places <i class="fa fa-arrow-right ms-2"></i></a>
                                        </div>
                                    </div>
                                    <div class="national-plus-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
