@model List<StateVM>

<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Destination</h5>
            <h1 class="mb-0">Popular Destination</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-flex justify-content-center mb-5">
                @for (int i = 0; i < 5; i++)
                {
                    <li class="nav-item ">
                        <a class="d-flex mx-3 p-3 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="/region/@Model[i].Id">
                            @Model[i].Name
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4 justify-content-center">
                            <div class="col-xl-12 ">
                                <div class="row g-4">
                                @for (int i = 0; i < 6; i++)
                                {
                                    <div class="col-lg-4">
                                        <div class="destination-img">
                                            <img class="img-fluid rounded w-100" style="height: 270px" src=@Model[i].Images[0] alt="">
                                            <div class="destination-overlay p-4">
                                                <h4 class="text-white mb-2 mt-3">@Model[i].Name</h4>
                                                <a href="#" class="btn-hover text-white">View All Villas <i class="fa fa-arrow-right ms-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                }

                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>