<!-- Header Start -->
<div class="container-fluid bg-login">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
        </h3>
    </div>
</div>
<!-- Header End -->
<div class="container-fluid packages py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Access Fail</h5>
            <div>
                <h3 class="alert alert-danger mb-0">You are not authorized to access this page</h3>
            </div>
        </div>
    </div>
</div>