@model RegisterVM
<!-- Header Start -->
<div class="container-fluid bg-register">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
        </h3>
    </div>
</div>
<!-- Header End -->
<!-- Packages Start -->
<div class="container-fluid packages py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Register</h5>
            <h1 class="mb-0">Register Now For The Best Offers</h1>
        </div>
        <div class="container w-75 mt-5">
            <hr />
            <form asp-area=""
                  asp-controller="Account"
                  asp-action="Register"
                  method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="FirstName"></label>
                            <input class="form-control" asp-for="FirstName" />
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="LastName"></label>
                            <input class="form-control" asp-for="LastName" />
                            <span class="text-danger" asp-validation-for="LastName"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="UserName"></label>
                            <input class="form-control" asp-for="UserName" />
                            <span class="text-danger" asp-validation-for="UserName"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Email"></label>
                            <input class="form-control" asp-for="Email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="PhoneNumber"></label>
                            <input class="form-control" asp-for="PhoneNumber" />
                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3 date" id="birthdate" data-target-input="nearest">
                            <label asp-for="BirthDate"></label>
                            <input asp-for="BirthDate" class="form-control" id="birthdate" type="date" value="" for="birthdate" />
                            <span class="text-danger" asp-validation-for="BirthDate"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for=Gender for="select1"></label>
                            <select asp-for=Gender class="form-select" id="select1">
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                                <option value="Other">Other</option>
                                <option value="None">I don't want to mention</option>
                            </select>
                            <span class="text-danger" asp-validation-for="Gender"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label asp-for="Address"></label>
                            <input class="form-control" asp-for="Address" />
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label>State</label>
                            <select onchange="filterByState(this)" class="form-select" asp-for=UserAddress.SelectedStateId asp-items="Model.UserAddress.States">
                                <option>Select state</option>
                            </select>
                        </div>
                        <span class="text-danger" asp-validation-for="UserAddress.States"></span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label>City</label>
                            <select onchange="filterByCity(this)" class="form-select" asp-for=UserAddress.SelectedCityId asp-items="Model.UserAddress.Cities" id="select-cities">
                                <option>Select city</option>
                            </select>
                        </div>
                        <span class="text-danger" asp-validation-for="UserAddress.Cities"></span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label>District</label>
                            <select class="form-select" asp-items="Model.UserAddress.Districts" asp-for=UserAddress.SelectedDistrictId id="select-districts">
                                <option>Select district</option>
                            </select>
                        </div>
                        <span class="text-danger" asp-validation-for="UserAddress.Districts"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Password"></label>
                            <input class="form-control" asp-for="Password" />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="PasswordConfirm"></label>
                            <input class="form-control" asp-for="PasswordConfirm" />
                            <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <button type="submit" class="btn btn-primary btn-lg w-100">Register</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
@section Scripts{
    <script>
    const filterByState = (element) => {
        $.ajax({
                url: `http://localhost:5006/api/region/getallcities?stateId=${element.value}`,
            type: 'GET',
            success: function (response) {
                const cities = response.map(city => {
                    return `<option value="${city.id}">${city.name}</option>`
                })
                $('#select-cities').html(cities)
            },
            error: function (error) {
                console.log(error);
            }
        })
    }
        const filterByCity = (element) => {
            $.ajax({
                url: `http://localhost:5006/api/region/getalldistricts?cityId=${element.value}`,
                type: 'GET',
                success: function (response) {
                    const districts = response.map(district => {
                        return `<option value="${district.id}">${district.name}</option>`
                    })
                    $('#select-districts').html(districts)
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

</script>
    <partial name="_ValidationScriptsPartial" />   
}
