.main-container {
  display: grid;
  height: 100vh;
}

.header-comp {
  grid-column: 2/15;
  grid-row: 1/2;
  margin-right: 20px;
}

.sidebar-comp {
  grid-row: 1/15;
}

/* main starts */
.main-comp {
  grid-row: 2/15;
  grid-column: 2/15;
  background-color: rgba(247, 245, 245, 0.392);
}

.main-widget-container {
  justify-content: center;
  padding: 30px 50px;
}

.main-widget {
  height: 250px !important;
}

/* main ends */


/* Sidebar start*/
.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar-brand {
  font-size: 25px;
}

.nav-icon-logo {
  width: 25px;
}

.sidebar-nav .nav-title {
  font-size: 100% !important;
}

.sidebar-nav>li>a {
  font-size: 16px;
}

/* Sidebar end */
/* Header starts */
.header-icon {
  color: darkslategrey !important;
  width: 20px !important;
  height: 25px !important;
}


/* Header ends */