<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h3 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>RentVilla</h3>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/destinations" class="nav-item nav-link">Destinations</a>
                <a href="/products" class="nav-item nav-link">Popular Villas</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div >
            <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Book Now</a>
            <div class="navbar-nav ms-auto py-0">
                <a href="/account/register"><small class="nav-item nav-link text-light"><i class="fa fa-user"></i></small></a>
                <a href="/account/login"><small class="nav-item nav-link text-light px-1"><i class="fa fa-sign-in-alt"></i></small></a>
                <div class="dropdown">
                    <a role="button" href="#" class="nav-item nav-link dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i class="fa fa-home me-2"></i></small></a>
                    <div class="dropdown-menu rounded">
                        <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My Profile</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                    </div>
                </div>
            </div>
            
        </div>
    </nav>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
