
<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h3 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>RentVilla</h3>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/destinations" class="nav-item nav-link">Destinations</a>
                <a href="/products" class="nav-item nav-link">Popular Villas</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div >
            <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Book Now</a>
            <div class="navbar-nav ms-auto py-0 d-flex align-items-center justify-content-center">
            @if(!User.Identity.IsAuthenticated)
            {
                    <div class="d-flex justify-content-center aling-items-center">
                        <a asp-controller="Account" asp-action="Register"><small class="nav-item nav-link text-light"><i class="fa fa-user"></i>  Sign Up</small></a>
                    </div>
                    <div class="d-flex justify-content-center aling-items-center">
                        <a asp-controller="Account" asp-action="Login"><small class="nav-item nav-link text-light d-flex justify-content-center aling-items-center gap-2"><i class="fa fa-sign-in-alt" style="font-size: 23px"> </i> Sign In</small></a>
                    </div>
            }else
            {
               if(User.IsInRole("Administrator"))
                {
                    <div class="dropdown">
                        <a role="button" href="#" class="nav-item nav-link dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i class="fa fa-home me-2"></i></small></a>
                        <div class="dropdown-menu rounded">
                            <a href="/admin" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> Admin Panel</a>
                            <a asp-controller="Account" asp-action="Settings" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                            <a asp-controller="Account" asp-action="Logout" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                        </div>
                        </div>
                }else
                {                
                    <div class="dropdown">
                            <a role="button" href="#" class="nav-item nav-link dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i class="fa fa-home me-2"></i></small></a>
                            <div class="dropdown-menu rounded">

                                <a asp-controller="Account" asp-action="Profile" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> @User.Identity.Name</a>
                                <a asp-controller="Account" asp-action="Settings" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                                <a asp-controller="Account" asp-action="Logout" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                            </div>
                        </div>
                    }
                }
         </div>    
        </div>
    </nav>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
