<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-2" style="max-width: 900px;">
    </div>
</div>
<!-- Header End -->
<div class="container-fluid align-items-center packages-2 py-5">
    <div class="container-fluid px-5 row g-5">
        @await Component.InvokeAsync("Region")
        </div>
</div>