<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentVilla.MVC</title>
       @await Html.PartialAsync("_Styles") 
</head>
<body>
    <header>
        <!--Spinner Start-->
        @await Component.InvokeAsync("Spinner")
        <!--Spinner End-->
        <!-- Topbar Start -->
         @await Component.InvokeAsync("Topbar")
        <!-- Topbar End -->

        <!-- Navbar & Hero Start -->
            @await Component.InvokeAsync("Navbar")

    </header>
    <div class="container-fluid position-relative p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid footer py-5">
        @await Component.InvokeAsync("Footer")
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright text-body py-4">
        @await Component.InvokeAsync("Copyright")
    </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
