<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentVilla.MVC</title>
       @await Html.PartialAsync("_Styles") 
</head>
<body>
    <header>
        <!--Spinner Start-->
        @await Component.InvokeAsync("Spinner")
        <!--Spinner End-->

        <!-- Navbar & Hero Start -->
            @await Component.InvokeAsync("Navbar")

    </header>
    <body>
        @RenderBody()
    </body>
    <footer>
        @await Component.InvokeAsync("Booking")
        @await Component.InvokeAsync("Footer")
        @await Component.InvokeAsync("Copyright")
    </footer>
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
